@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 5rem;
    background-color: #33b4bde7;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.brand {
  display: flex;
  font-family: 'Fredoka', sans-serif;
}

.brand1 {
  color: #31314b;
}

.brand2 {
  color: rgb(168, 79, 79);
}

.signout-button {
    border-radius: 60px;
    background-color: #383868;
    color: white;
    font-size: 20px;
    border: none;
    width: 150px;
    height: 45px;
    cursor: pointer;
}

.profilePic {
  cursor: pointer;
  height: 70%;
  border-radius: 999px;
}

a {
  text-decoration: none;
  color: rgb(49, 53, 56);
  margin: 10px;
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}